<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Messages from the Stars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <%= render partial: "shared/nav-hamburger" %>
</head>
<body>

<div class="bg_view_message">
    <% if @message != 404 %>

  <div class="view_message_header">
    <p>Intercepted Message</p>
  </div>

  <div class="view_message_body">
      <div class ="content">
      <div id="message-content">
        <p>Message:</p> 
        <p><%=@message.content%></p>
      </div>
      </div>
  </div>

  <div class="view_sub_body">
      <div id ="sat-name">
        Satellite Name: <%=@satellite.name%>
      </div>

      <div id="norad_id">
        Norad ID: <%=@satellite.norad_id%>
      </div>
      
      <div id="message-launch-date">
        Message Launched: <%=@message.formatted_creation_date%>
      </div>

      <div id="message-travel-time">
        Message has been traveling for <%=@message.travel_time_days%> days.
      </div>

      <div id="message-orbits">
        <p>This message has orbited around the world about <%=@message.orbit_count%> times,</p>
        <p>or around <%=@message.miles_traveled%> miles!</p>
      </div>
    <div class="lat_wrap"> 
    <div class="start">
      <div id="start-lat">
        Start Lat: <%=@message.start_lat%>
      </div>

      <div id="start-lng">
        Start Lng: <%=@message.start_lng%>
      </div>
    </div>

    <div class="message_map">
      <div id="map">
        <%=image_tag(@map_url)%>
      </div>
    </div>
    
    <div class="current">
      <div id="current-lat">
        Current Lat: <%=@satellite.sat_lat%>
      </div>

      <div id="current-lng">
        Current Lng: <%=@satellite.sat_lng%>
      </div>
    </div>
    </div>

  </div>
</div> 
    <% else %>
      <p> You broke the space-time continuum and your message disappeared into the void </p>
    <% end %>
    </div>
  </div> 
</body>
</html>