<h1> message show </h1>

<div id ="sat-name">
  Satellite Name: <%=@satellite.name%>
</div>

<div id="message-content">
  Message: <%=@message.content%>
</div>

<div id="start-lat">
  Start Lat: <%=@message.start_lat%>
</div>

<div id="start-lng">
  Start Lng: <%=@message.start_lng%>
</div>

<div id="current-lat">
  Current Lat: <%=@satellite.sat_lat%>
</div>

<div id="current-lng">
  Current Lng: <%=@satellite.sat_lng%>
</div>

<div id="norad_id">
  Norad ID: <%=@satellite.norad_id%>
</div>

<div id="message-launch-date">
  Message Launched: <%=@message.formatted_creation_date%>
</div>

<div id="message-travel-time">
  Message has been traveling for <%=@message.travel_time_days%> days.
</div>

<div id="map">
  <%=image_tag(@map_url)%>
</div>

