<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Message from the Stars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
  </script>
  <%= render partial: "shared/nav-hamburger" %>
</head>
<body>

  <div class="bg_satshow">
    <div class="satshow_header">
      <p>Satellite <%= @satellite.name %></p>
    </div>

    <div class="text-center">
      <div class="satpop_container">
        <p>NORAD ID <%= @satellite.norad_id %></p>
      </div>
      <div class="satpop_container">
        <div class="popup" onclick="myFunction()">What's a NORAD ID?
          <span class="popuptext" id="myPopup">NORAD is the North American Aeropsace Defense Command, an organization that provides aerospace warning, air sovereignty & protection to Canada & the U.S. The NORAD ID refers to the catalog number (known as the Satellite Catalog Number -SATCAT-) that is assigned by a differnet organization, the U.S. Space Command.</span>
        </div> 
      </div> 
    </div>

    <div class="vis_container">
      <div class="satshow_button">
        <%= button_to "Cast a New Message", "/messages/new", params: {:sat_id => @sat_id}, method: :get, local: true %>
      </div>
    </div>

    <div class="satshow_container satshow_center">

      <div class="sat_headers">

        <p>Visibility in the next 10 days</p>

      </div>

        <p class="text-center"> (Hover over date to view forecast)</p>
        <% if @visibility != nil %>
          <% @visibility[0..9].each_with_index do |v, idx| %>
            <div id="visibility<%= idx%>">
              <div class="text-center">
                <div class="sat_dropdown">
                  <p><%= v.starting_time %></p><br>
                  <% @weather_forecasts.each do |forecast| %>
                    <% if v.starting_time.include?(forecast.date)%>
                    <div class="satdropdown-content">
                      <p>Weather Forecast: <%= forecast.status %> </p>
                    </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>

    <div class="satshow_container">
      <div id="map">
        <div class="sat_headers">
          <p class="text-center">Current Location</p>
        </div>
        <p class="text-center">Latitude: <%= @satellite.sat_lat %>, Longitude: <%= @satellite.sat_lng %></p>
        <%=image_tag(@map_url)%>
      </div>
    </div>

    <div class="sat_headers">
      <p> <%= @messages.size %> Total Messages </p>
      <% @messages.each_with_index do |m, idx| %>
        <div id="messages<%= idx %>">
          <div class="col-sm-4">
            <p class="text-center">Message <%= m.id %></p>
            <p class="text-center"> <%= link_to m.content, "/messages/#{m.id}" %> </p>
          </div> 
        </div>
      <% end %>
    </div>  
    
  </div>

</body>
</html>
