<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Message from the Stars</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script>
    function myFunction() {
      var popup = document.getElementById("myPopup");
      popup.classList.toggle("show");
    }
  </script>
  <%= render partial: "shared/nav-hamburger" %>
</head>
<body>

  <div class="guide">

  </div>

  <div class="credits">
    <div class="fe-repo-link"> 
      <%= link_to "Front-End Repository", "https://github.com/messages-from-the-stars/messages-from-the-stars-fe"%>
    <div>
    <div class="be-repo-link">
      <%= link_to "Back-End Repository", "https://github.com/messages-from-the-stars/messages-from-the-stars-be"%>
    </div>
  </div>

  <div id="contributors">
    <p>
      Contributors (in reverse alphabetical order):
    <p>

    <div class="contributor-1">
      <%= link_to "@tig-o", "https://github.com/tig-o"%>
    </div>

    <div class="contributor-2">
      <%= link_to "@philmarcu", "https://github.com/philmarcu"%>
    </div>

    <div class="contributor-3">
      <%= link_to "@mikekoul", "https://github.com/mikekoul"%>
    </div>

    <div class="contributor-4">
      <%= link_to "@jonathanmpope", "https://github.com/jonathanmpope"%>
    </div>

    <div class="contributor-5">
      <%= link_to "@alepbloyd", "https://github.com/alepbloyd"%>
    </div>
  </div>

</body>
</html>