<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Messages from the Stars</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="text-center">
  <h1>Satellites Above You<h1><br>
</div> 
<% @satellites.each_with_index do |satellite, index| %>
<div id="satellites<%= index %>">
  <% msg_collector = [] %>
  <% @message_count.each do |msg| %>
    <% if msg.satellite_id == satellite.satid %>
      <% msg_collector << msg %>
    <% end %>
    <%# <% if msg_collector.count > 0 %>
  <% end %>
<div class="col-sm-4">
    <p><%= msg_collector.count %> Messages<p>
  <p>Name: <%= satellite.satname %> ID: <%= satellite.satid  %><p>
  <p>Launched on: <%= satellite.launch_date %><p>
  <p><%= link_to 'View Satellite Info', api_v1_satellite_path(satellite.satid) %><p><br>
  </div>
  <% end %>
</div>
</body>
</html>