<!DOCTYPE html>
<html lang ="en">
<head>
  <title>Messages from the Stars</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="bg_discover">
    <p class="py-5 text-center"></p>

  <div class="discover_container_header">
    <p>Satellites Above You</p>
    <p>Click on Info to Create or View a Message</p>
  </div> 

    <% @satellites.each_with_index do |satellite, index| %>
  <div id="satellites<%= index %>">

    <div class="col-md-6" >
      <p>Name: <%= satellite.satname %> ID: <%= satellite.satid  %><p>
      <p>Launched on: <%= satellite.launch_date %><p>
      <p><%= button_to "View #{satellite.satname}'s Info", '/satellite', params: {:sat_id => satellite.satid}, method: :get, local: true, class: 'discover-button' %><p>
      <% x = 0 %> 
      <% @message_count_arrays.each do |array| %>
        <% if array[0] == satellite.satid %>
          <% x = array[1] %> 
        <% end %>
      <% end %>
      <p><%= x %> Messages<p>
    </div>

  <% end %>
  </div>
</div>
</body>
</html>