<h2><%= @satellite.name %>'s Show</h2>
<p>NORAD ID: <%= @satellite.norad_id %></p>
<p>Satellite Name: <%= @satellite.name %></p>

<%= button_to "Add New Message to #{@satellite.name}", "messages/new", method: :post, params: {:sat_id => @satellite.norad_id}, local: true %>

<p>Current Latitude / Longitude: <%= @satellite.sat_lat %>, <%= @satellite.sat_lng %></p>

<h4>Visibility in the next 7 days</h4>
<% @visibility.each_with_index do |v, idx| %>
  <div id="visibility<%= idx%>">
  <p>Date: <%= v.starting_time %></p>
  <% @weather_forecasts.each do |forecast| %>
    <% if v.starting_time.include?(forecast.date)%>
      <p>Weather Forecast: <%= forecast.status %> </p>
    <% end %>
  <% end %>
  </div>
<% end %>

<h4> <%= @messages.size %> Total Messages </h4>
<% @messages.each_with_index do |m, idx| %>
  <div id="messages<%= idx %>">
    <p>Content: <%= m.content %></p>
  </div>
<% end %>
